<a href="https://colab.research.google.com/github/a-forty-two/COG-02082021/blob/main/Classes%26Inheritence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class train:
  x = 10

In [2]:
p1 = train()
print(p1.x)

10

In [3]:
class Human:
  def __init__(self,name, age):
    self.name = name
    self.age = age

In [5]:
p1 = Human("Shantanu",36)

print(p1.name)
print(p1.age)

Shantanu
36

In [18]:
class HumanBeings:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print("Hola, My name is "+ jungle.name+ " and my age is "+jungle.age)

In [9]:
p1 = HumanBeings("Shantanu","Too old")
p1.describeme()

Hola, My name is Shantanu and my age is Too old

In [11]:
p1.age = 'younger now'
p1.describeme()

Hola, My name is Shantanu and my age is younger now

In [13]:
del p1
x = int(1);

In [16]:
class training:
  def __init__(trainer,name,level):
    trainer.name =name
    trainer.level =level

  def printo(trainer):
    print("Welcome all, My name is "+ trainer.name)
    print("I am at "+str(trainer.level)+ " level of training")

In [17]:
p1 = training("Shantanu", 20)
p1.printo()

Welcome all, My name is Shantanu
I am at 20 level of training

In [19]:
class Humans:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print(jungle.name,jungle.age)

class Student(Humans):
  pass

In [20]:
x = Student("Shantanu","66")
x.describeme()

Shantanu 66

In [21]:
class Humans:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print(jungle.name,jungle.age)

class Student(Humans):
  def __init__(jungle,aname, aage):
    jungle.aname = aname
    jungle.aage = aage

In [22]:
x = Student("Shantanu","66")
x.describeme()

AttributeError: ignored

In [23]:
class Humans:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print(jungle.name,jungle.age)

class Student(Humans):
  def __init__(jungle,name, age):
    Humans.__init__(jungle,name, age)

In [24]:
x = Student("Shantanu","66")
x.describeme()

Shantanu 66

In [27]:
class Humans:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print(jungle.name,jungle.age)

class Student(Humans):
  def __init__(jungle,name, age):
    super().__init__(name, age)

In [28]:
x = Student("Shantanu","66")
x.describeme()

Shantanu 66

In [32]:
class Humans:
  def __init__(jungle,name, age):
    jungle.name = name
    jungle.age = age

  def describeme(jungle):
    print(jungle.name,jungle.age)

class Student(Humans):
  def __init__(jungle,name, age, year):
    super().__init__(name, age)
    jungle.graduationyear = year

In [33]:
x = Student("Shantanu","66",1990)
print(x.graduationyear)

1990

In [34]:
class Employee:
  def __init__(self , id, name):
    self.id = id
    self.name = name

In [36]:
class PayrollSystem:
  def calculate_payroll(self,employees):
    print("Calculating the payroll")
    for employee in employees:
      print(f'Payroll for :{employee.id} - {employee.name}')
      print(f'Check amount:{employee.calculate_payroll()}')
      print('')

In [37]:
class SalaryEmployee(Employee):
  def __init__(self, id,name, weekly_salary):
    super().__init__(id,name)
    self.weekly_salary= weekly_salary

  def calculate_payroll(self):
    return self.weekly_salary

In [39]:
class HourlyEmployee(Employee):
  def __init__(self, id,name, hours_worked,hour_rate):
    super().__init__(id,name)
    self.hours_worked= hours_worked
    self.hour_rate= hour_rate

  def calculate_payroll(self):
    return self.hours_worked* self.hour_rate

In [47]:
class CommissionEmployee(SalaryEmployee):
  def __init__(self, id,name, weekly_salary,commission):
    super().__init__(id,name,weekly_salary)
    self.commission= commission

  def calculate_payroll(self):
    fixed = super().calculate_payroll()
    return fixed + self.commission

In [51]:
salary_employee = SalaryEmployee(1,'Pikachu',1500)
hourly_employee = HourlyEmployee(2,'Hannah',15,40)
commission_employee = CommissionEmployee(3,'Josh',1500,500)

In [52]:
payroll_system= PayrollSystem()
payroll_system.calculate_payroll([
                                  salary_employee,
                                  hourly_employee,
                                  commission_employee
])

Calculating the payroll
Payroll for :1 - Pikachu
Check amount:1500

Payroll for :2 - Hannah
Check amount:600

Payroll for :3 - Josh
Check amount:2000

In [53]:
class Manager(SalaryEmployee):
  def work(self,hours):
    print(f'{self.name} spends most of the {hours} hours  managing the employees and sprints')


class Secretary(SalaryEmployee):
  def work(self,hours):
    print(f'{self.name} spends  {hours} hours  answering personal phonecalls')


class SalesPerson(CommissionEmployee):
  def work(self,hours):
    print(f'{self.name} spends {hours} hours  on company phone for making sales')

class FactoryWorker(HourlyEmployee):
  def work(self,hours):
    print(f'{self.name} works hard  for {hours} hours and still paid the least')

In [54]:
class ProductivitySystem:
  def track(self,employees, hours):
    print("Tracking the Employee Productivity")
    for employee in employees:
      employee.work(hours)
    print('')

In [56]:
manager = Manager(1,'shantanu',3000)
secretary = Secretary(2,'Jojo',1500)
sales_person = SalesPerson(3,'Ashoka',900,250)
factory_worker =FactoryWorker(4,'Bheema',40,20)

employees=[
           manager,
           secretary,
           sales_person,
           factory_worker
]

productivity_system = ProductivitySystem()
productivity_system.track(employees,40)

Tracking the Employee Productivity
shantanu spends most of the 40 hours  managing the employees and sprints
Jojo spends  40 hours  answering personal phonecalls
Ashoka spends 40 hours  on company phone for making sales
Bheema works hard  for 40 hours and still paid the least