<a href="https://colab.research.google.com/github/a-forty-two/COG-02082021/blob/main/COG_FileHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fileLoc = open("/content/demofile.txt")
print(fileLoc.readline())

hello world. Hows everyone

In [3]:
fileLoc = open("/content/Giants.csv")
print(fileLoc.read())

movie,title,genres,year,Rating,Rotton Tomato
108583,Fawlty Towers (1975,Comedy,-1980,1,54
32898,"Trip to the Moon, A (Voyage dans la lune, Le)",Action|Adventure|Fantasy|Sci-Fi,1902,7,80
7065,"Birth of a Nation, The",Drama|War,1915,6,92