<a href="https://colab.research.google.com/github/a-forty-two/COG-02082021/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv("/content/data.csv")
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [4]:
filter = ["id","diagnosis","radius_mean","texture_mean","perimeter_mean","area_mean","smoothness_mean","compactness_mean"]

filtrdData = data[filter]

head = filtrdData.head()

In [9]:
filtrdData.sort_index(axis=1,ascending=False)

     texture_mean  smoothness_mean  ...  compactness_mean  area_mean
0           10.38          0.11840  ...           0.27760     1001.0
1           17.77          0.08474  ...           0.07864     1326.0
2           21.25          0.10960  ...           0.15990     1203.0
3           20.38          0.14250  ...           0.28390      386.1
4           14.34          0.10030  ...           0.13280     1297.0
..            ...              ...  ...               ...        ...
564         22.39          0.11100  ...           0.11590     1479.0
565         28.25          0.09780  ...           0.10340     1261.0
566         28.08          0.08455  ...           0.10230      858.1
567         29.33          0.11780  ...           0.27700     1265.0
568         24.54          0.05263  ...           0.04362      181.0

[569 rows x 8 columns]

In [10]:
filtrdData.sort_index(axis=1,ascending=False).head()

   texture_mean  smoothness_mean  ...  compactness_mean  area_mean
0         10.38          0.11840  ...           0.27760     1001.0
1         17.77          0.08474  ...           0.07864     1326.0
2         21.25          0.10960  ...           0.15990     1203.0
3         20.38          0.14250  ...           0.28390      386.1
4         14.34          0.10030  ...           0.13280     1297.0

[5 rows x 8 columns]

In [11]:
filtrdData.sort_values(by="diagnosis")

          id diagnosis  ...  smoothness_mean  compactness_mean
284  8912284         B  ...          0.07818           0.09580
371  9012568         B  ...          0.07963           0.06934
367  9011495         B  ...          0.09231           0.07175
364  9010877         B  ...          0.07937           0.05696
363  9010872         B  ...          0.09686           0.08468
..       ...       ...  ...              ...               ...
146   869691         M  ...          0.10910           0.17000
379  9013838         M  ...          0.12160           0.21540
141   869104         M  ...          0.09721           0.11370
138   868826         M  ...          0.11670           0.13050
0     842302         M  ...          0.11840           0.27760

[569 rows x 8 columns]

In [14]:
filtrdData.sort_values(by="id", ascending=False)

            id diagnosis  ...  smoothness_mean  compactness_mean
464  911320502         B  ...          0.07466           0.05994
463  911320501         B  ...          0.08508           0.05855
461  911296202         M  ...          0.10840           0.19880
460  911296201         M  ...          0.09898           0.11100
449  911157302         M  ...          0.09684           0.11750
..         ...       ...  ...              ...               ...
47       85715         M  ...          0.11580           0.12310
403       9047         B  ...          0.09879           0.08836
291       8915         B  ...          0.08992           0.09823
287       8913         B  ...          0.06955           0.03729
131       8670         M  ...          0.10920           0.12230

[569 rows x 8 columns]

In [16]:
filtrdData["id"].head()

0      842302
1      842517
2    84300903
3    84348301
4    84358402
Name: id, dtype: int64

In [17]:
filtrdData["diagnosis"].head()

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

In [18]:
filtrdData[0:5]

         id diagnosis  ...  smoothness_mean  compactness_mean
0    842302         M  ...          0.11840           0.27760
1    842517         M  ...          0.08474           0.07864
2  84300903         M  ...          0.10960           0.15990
3  84348301         M  ...          0.14250           0.28390
4  84358402         M  ...          0.10030           0.13280

[5 rows x 8 columns]